infarter/target
infarter/Cargo.lock
infarter/*.dfc
infarter/*/*.dfc
infarter/*.df
infarter/*.py
flatvm/flatvm
flatvm/clang-build.sh
flatvm/prof.sh
dfarted/__pycache__
dfarted/.tmp.df*
dfarted/img/icon.xcf
dfarted/README.txt
*/*.swp
